
@{
    Layout = "";
}

@using (Html.BeginForm("_DocumentCreator", "Project", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <div class="col-md-4 col-xs-4 col-lg-4">
                Title
            </div>
            <div class="col-md-8 col-xs-8 col-lg-8">
                <input type="text" name="title"/>
            </div>
        </div>
        
        <div class="col-md-12 col-xs-12 col-lg-12">
            <div class="col-md-4 col-xs-4 col-lg-4">
                Content
            </div>
            <div class="col-md-8 col-xs-8 col-lg-8">
                <textarea type="text" name="content" rows="4" cols="50">

                </textarea>
            </div>
        </div>
            
            

    </div>
}