
    
@{
    Layout = "";
    String path = ViewData["Path"].ToString();
    String loweredPath = path;
    //System.IO.File.ReadAllLines(path);
}

@if (!loweredPath.Contains(".exe")) {
    if (loweredPath.Contains(".jpg") || loweredPath.Contains(".png") || loweredPath.Contains("gif"))
     {
         <img src="@path" class="text-center" width="250" height="250"/>
    }
    else if(loweredPath.Contains(".pdf"))
    {
        <iframe src="@path"></iframe>
    } else { 
        String[] lines = System.IO.File.ReadAllLines(path);
        foreach (var line in lines) {
             <p>
                 @Html.DisplayTextFor(Line => line)
             </p>
         }
     }
}
else
{
    <p>
        No Possible preview
    </p>
}