
    
@{
    Layout = "";
    String path = ViewData["Path"].ToString();
    String loweredPath = path.ToLower();
    //System.IO.File.ReadAllLines(path);
}

@if (!loweredPath.Contains(".exe")) {
    if (loweredPath.Contains(".jpg") || loweredPath.Contains(".png") || loweredPath.Contains(".gif"))
     {
         <img src="@path" class="text-center" height="500px" width="500px"/>

    }
    else if(loweredPath.Contains(".pdf") || loweredPath.Contains(".docx"))
    {
        <iframe frameborder="0" src="@path" style="width:100%; height: 100%;"></iframe>

    } else { 
        String[] lines = System.IO.File.ReadAllLines(path);
        foreach (var line in lines) {
             <p>
                 @Html.DisplayTextFor(Line => line)
             </p>
         }
     }
}
else
{
    <p>
        No Possible preview
    </p>
}