@model IEnumerable<WorkstationBrowser.SessionReference.UsersModel>

@{
    ViewBag.Title = "Index";
    Dictionary<String, bool> MyRights = ViewData["CurrentUserRights"] as Dictionary<String, bool>;
                        
}

<h2>All Users</h2>

<table class="table">
    <tr>
        <th> Email </th>
        <th> Username </th>
        <th> Rank </th>
                
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.email) </td>
            <td> @Html.DisplayFor(modelItem => item.username) </td>
            <td> @Html.DisplayFor(modelItem => item.rank) </td>
            <td>
                
                @if (( item.rank.Equals("Administrators") && MyRights["IsAdmin"] )
                    || (!item.rank.Equals("Administrators") && MyRights["CanEditUser"])
                    || item.id == int.Parse(ViewData["MyId"].ToString())) {
                    @Html.ActionLink(" ", "Edit", new {id = item.id}, new {@class = "glyphicon glyphicon-cog"}) 
                }

            </td>
        </tr>

    }
</table>
