@using WorkstationBrowser.Controllers.SignalR
@model IEnumerable<WorkstationBrowser.SessionReference.UsersModel>

@{
    ViewBag.Title = "Index";
    Dictionary<String, bool> MyRights = Session["CurrentUserRights"] as Dictionary<String, bool>;
                        
}

<h2>All Users</h2>

<table class="table">
    <tr>
        <th> </th>
        <th> Username </th>
        <th> Email </th>
        <th> Rank </th>

    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/UserContent/Profile/@(item.profilepic)" width="50" height="50" class="profile-image img-circle"/>
                @{
                    String status = "offline";
                    if (NotificationHub.MyUsers.ContainsKey(item.username)){
                        status = "online";
                    }
                }
                <img src="~/Content/images/@(status).png" width="15" height="15" class="status-img img-circle"/>
            
            </td>
            <td style="vertical-align: middle;"> @Html.DisplayFor(modelItem => item.username) </td>
            <td style="vertical-align: middle;"> @Html.DisplayFor(modelItem => item.email) </td>

            <td style="vertical-align: middle;"> @Html.DisplayFor(modelItem => item.rank) </td>
            <td style="vertical-align: middle;">

                @if ((item.rank.Equals("Administrators") && MyRights["IsAdmin"])
                     || (!item.rank.Equals("Administrators") && MyRights["CanEditUser"])
                     || item.id == int.Parse(ViewData["MyId"].ToString()))
                {
                    @Html.ActionLink(" ", "Edit", new {id = item.id}, new {@class = "glyphicon glyphicon-cog"})
                }

            </td>
        </tr>

    }
</table>
