@using WorkstationBrowser.SessionReference
@model IEnumerable<WorkstationBrowser.SessionReference.MessageModel>

@{
    Layout = "";
}

<table class="table">
    <tr>
        <th>
            
        </th>
        <th>
            Title
        </th>
        <th>
            Message
        </th>
        <th>
            From
        </th>
     
        <th></th>
    </tr>

@foreach (var item in Model)
{
    String MessageClass = "notification-read";
    if (item.read)
    {
        MessageClass = "notification-notread";
    }
    <tr>
        <td class="@(MessageClass)">
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.content)
        </td>
        <td>
            @(((UsersModel[]) ViewData["AllUsers"]).Single(user => user.id == item.from).username)

        </td>
     
        <td>
            
        </td>
    </tr>
}

</table>
