@using WorkstationBrowser.SessionReference
@model IEnumerable<WorkstationBrowser.SessionReference.MessageModel>

@{
    Layout = "";
}

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Message
        </th>
        <th>
            From
        </th>
        <th>
            To
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.content)
        </td>
        <td>
            @(((UsersModel[])ViewData["AllUsers"]).Single(user => user.id == item.from).username)
            
        </td>
        <td>

            @(((UsersModel[])ViewData["AllUsers"]).Single(user => user.id == item.to).username)
          
        </td>

    </tr>
}

</table>
