@model WorkstationManagementServices.Models.Database.Rank

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rank</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rights)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rights)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(" ", "Edit", new { id = Model.name }, new { @class = "glyphicon glyphicon-cog" }) |
    @Html.ActionLink(" ", "Index", new { }, new { @class = "glyphicon glyphicon-th-list" })
</p>
