@model IEnumerable<WorkstationBrowser.SessionReference.NotificationModel>

@{
    ViewBag.Title = "Notifications";
}

<h2>Notification</h2>

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Content
        </th>
        <th>
            Actions
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.content)
        </td>
        <td>
            Read : @Html.DisplayFor(modelItem => item.read)
        </td>
    </tr>
}

</table>
