


<!DOCTYPE html>

<html>
<head>
    <title>An error occured!</title>
</head>
<body>
<div style="text-align: center">
  
    <img src="~/UserContent/SadFace.png" width="400" height="400"/>
    <br/>
    @((String) ViewData["msg"])
    <br />
    
</div>
</body>
</html>